openapi: 3.0.0
info:
  title: Nice HMS integration
  description : Welcome to the integration documentation for Nice HMS ABDM (Ayushman Bharath Digital mission) Triple Milestone Certified HIMS! These APIs are specifically designed for developers who are looking to incorporate ABDM APIs into their projects. We understand the complexity involved in implementing ABDM APIs, and our aim is to simplify the process for you, making it effortless to achieve ABDM compatibility within your HIMS (Health Information Management System). Whether you're a medical college, a large hospital, or a hospital chain, and currently using a non-ABDM compatibility application (whether it's on-premise or in the cloud), our APIs are here to help you leverage the benefits of ABDM within your organization. We have carefully designed these APIs to meet the requirements of ABDM, ensuring a smooth and efficient integration experience.Take advantage of our simplified implementation of complex ABDM APIs and empower your HIMS with ABDM compatibility. Enhance your data management processes and unlock the full potential of ABDM within your organization. To get started, refer to our comprehensive integration documentation, which provides detailed instructions and examples to facilitate a seamless integration process. We look forward to supporting you in successfully integrating ABDM APIs.
  version : 1.1.0
  contact: 
   email : nicehms21@gmail.com
   name : Nice HMS
servers:
  - url: https://asia-south1-psychic-city-328609.cloudfunctions.net
    description: Sandbox   
paths :
  /auth_token:
    post:
      tags:
        - Auth
      description : This returns an authorization token that can be used in the header as a bearer token. The token has an expiration time of 15 to 30 minutes. It is necessary to use this token in subsequent calls for authentication
      requestBody:
        description: To obtain your email and password, please contact Nice HMS directly.
        required: true
        content:
          application/json:
            schema:
                $ref : "#/components/schemas/authTokenReq"
      responses :
        "200":
          description : "200 response"
          content:
            application/json:
              schema:
                $ref : "#/components/schemas/authTokenRes"
  
  
  
  
  
  /patient_by_id:
    post:
      tags:
        - Patient
      security:
        - bearerAuth: []
      description : This retuns patient by Nice HMS id
      requestBody:
        description: The term "ID" refers to the unique identifier generated within Nice HMS.
        required: true
        content:
          application/json:
            schema:
                $ref : "#/components/schemas/PatientByIdReq"
      responses :
        "200":
          description : "200 response"
          content:
            application/json:
              schema:
                $ref : "#/components/schemas/PatientRes"
                
  /patient_by_abhaAddress:
    post:
      tags:
        - Patient    
      security:
        - bearerAuth: []
      description : This function enables you to retrieve a patient's information using their ABHA address, provided that the ABHA address is registered with Nice HMS under your organization. To utilize this feature, the patient must be registered in Nice HMS using their ABHA address. Registration can be completed through various methods, including Aadhar or mobile OTP verification, scanning the ABHA card QR code, or having the patient scan the QR code displayed at the reception using the PHR app. The reception-generated QR code is created by the Health Facility Registry (HFR)
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref : "#/components/schemas/PatientByAbhaAddressReq"
      responses :
        "200":
          description : "200 response"
          content:
            application/json:
              schema:
                $ref : "#/components/schemas/PatientRes"          

  /create_patient:
    post:
      tags:
        - Patient    
      security:
        - bearerAuth: []
      description : This api is for creating non ABDM new patient in Nice HMS 
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref : "#/components/schemas/PatientReq"
      responses :
        "200":
          description : "200 response"
          content:
            application/json:
              schema:
                $ref : "#/components/schemas/PatientRes"

  /patient_register_abha_otp_init:
    post:
      tags:
        - Patient    
      security:
        - bearerAuth: []
      description : This api is for creating new Patient with ABHA card using Mobile or aadhar otp
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref : "#/components/schemas/AbhaOtpInitReq"
      responses :
        "200":
          description : "200 response"
          content:
            application/json:
              schema:
                $ref : "#/components/schemas/AbhaOtpInitRes"       
                
                
  /patient_register_abha_otp_confirm:
    post:
      tags:
        - Patient    
      security:
        - bearerAuth: []
      description : The "patient_register_abha_otp_confirm" API is called after the "patient_register_abha_otp_init" API. The "patient_register_abha_otp_init" API is responsible for sending an OTP to the patient and providing a transaction ID. Please include the OTP and transaction ID in the request body when using the "patient_register_abha_otp_confirm" API
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref : "#/components/schemas/AbhaOtpConfirmReq"
      responses :
        "200":
          description : "200 response"
          content:
            application/json:
              schema:
                $ref : "#/components/schemas/PatientRes"                


                     
  /opd_patient:
      post:
        tags:
          - Patient Visits
        security:
          - bearerAuth: []
        description : This function creates an OPD (Outpatient Department) visit and care context within the ABDM (Ayushman Bharat Digital Mission) framework. It is important to note that you have the option to use either the patient ID provided by Nice HMS or the ABHA address when making API requests. Before sending data, it is essential to check whether there are any OPD (Outpatient Department) active visits available
        requestBody:
          description: Optional description in *Markdown*
          required: true
          content:
            application/json:
              schema:
                  $ref : "#/components/schemas/OpdPatientReq"
        responses :
          "200":
            description : "200 response"
            content:
              application/json:
                schema:
                  $ref : "#/components/schemas/EncounterRes"                
            
  /admit_patient:
    post:
      tags:
        - Patient Visits
      security:
        - bearerAuth: []
      description : This function creates an inpatient (inpatient Department) visit and care context within the ABDM (Ayushman Bharat Digital Mission) framework. It is important to note that you have the option to use either the patient ID provided by Nice HMS or the ABHA address when making API requests. Before sending data, it is essential to check whether there are any active IPD (Inpatient Department) visits available,  
      requestBody:
        description: Optional description in *Markdown*
        required: true
        content:
          application/json:
            schema:
                $ref : "#/components/schemas/AdmitPatientReq"
      responses :
        "200":
          description : "200 response"
          content:
            application/json:
              schema:
                $ref : "#/components/schemas/EncounterRes"          
 
 
  /discharge_patient:
    put:
      tags:
        - Patient Visits
      security:
        - bearerAuth: []
      description : This function updates the admission visit for a patient by specifying the discharge date. It is important to call this API before sending the discharge summary document, as it updates the discharge date accordingly. 
      requestBody:
        required: true
        content:
          application/json:
            schema:
                $ref : "#/components/schemas/DischargePatientReq"
      responses :
        "200":
          description : "200 response"
          content:
            application/json:
              schema:
                $ref : "#/components/schemas/EncounterRes"          

 
 
 
 
  /discharge_summary:
      post:
        tags:
          - Documents
        security:
          - bearerAuth: []
        description : This function creates a Discharge Summary and notifies ABDM (Ayushman Bharat Digital Mission). Please note that you have the option to use either the patient ID provided by Nice HMS or the ABHA address when using this API
        requestBody:
          description: Optional description in *Markdown*
          required: true
          content:
            application/json:
              schema:
                  $ref : "#/components/schemas/DischargeSummarytReq"
        responses :
          "200":
            description : "200 response"
            content:
              application/json:
                schema:
                  $ref : "#/components/schemas/CompositionRes"  
  
  
  /diagnostic_report:
      post:
        tags:
          - Documents
        security:
          - bearerAuth: []
        description : This function creates a Diagnostic Report and notifies ABDM (Ayushman Bharat Digital Mission). Please note that you have the option to use either the patient ID provided by Nice HMS or the ABHA address when using this API
        requestBody:
          description: Optional description in *Markdown*
          required: true
          content:
            application/json:
              schema:
                  $ref : "#/components/schemas/DiagnosticReportReq"
        responses :
          "200":
            description : "200 response"
            content:
              application/json:
                schema:
                  $ref : "#/components/schemas/CompositionRes"   
 
 
          
components:
  securitySchemes:
    bearerAuth:            
      type: http
      scheme: bearer
      bearerFormat: JWT  
  schemas:
    doctorDetails: 
      type: array
      items: 
        type: object
        required :
         - doctorName
         - doctorGcpId            
        properties: 
          doctorName: 
            type: string
            example: Dr Umesh Bilagi
          doctorGcpId: 
            type: string
            example: cf4a6ab1-3f32-4b92-adc5-89489da6ca14
    abhaAddress: 
      type: string
      example: savitribilagi@sbx
    patientId:
      type : integer
      example : 236    
    
    authTokenReq:
      type: object
      required:
        - email
        - password
        - returnSecureToken
      properties:
        email:
          type: string
        password:
          type: string
        returnSecureToken:
          type: boolean
    authTokenRes:
      type: object
      properties:
        token:
          type: string           
    
    PatientByIdReq:
      type: object
      required:
        - patientId
      properties:
        patientId:  
          $ref : "#/components/schemas/patientId"  
    
    PatientByAbhaAddressReq:
      type: object
      required:
        - abhaAddress
      properties:
        abhaAddress:
          $ref : "#/components/schemas/abhaAddress"
    
    AbhaOtpInitReq:
      type: object
      required:
        - abhaAddress
        - authMode
      properties:
        abhaAddress:
          type: string
          example: "abcd@abdm"
        authMode:
          type: string
          enum : ["MOBILE_OTP", "AADHAAR_OTP"]
    
    AbhaOtpInitRes:
      type: object
      properties:
        auth:
          type: object
          properties:
            meta:
              type: object
              properties:
                hint:
                  type: object

                expiry:
                  type: string
                  example: "2023-06-04T06:57:19.082288652"
            mode:
              type: string
              enum: ["MOBILE_OTP", "AADHAAR_OTP"]
            transactionId:
              type: string
              example: "f455d2f9-18f1-4c6e-bfd0-df5ff2449f97"
        resp:
          type: object
          properties:
            requestId:
              type: string
              example: "48c0f79a-a3aa-465c-a07d-f1e20663d1f4"
        error:
          type: object

        requestId:
          type: string
          example: "4615b2d6-6275-4122-9eba-01da0faf8aa6"
        timestamp:
          type: string
          example: "2023-06-04T04:57:19.082281323"
    
    AbhaOtpConfirmReq:
      type: object
      required:
        - otp
        - transactionId
        - abhaAddress
      properties:
        otp:
          type: string
          example: "886367"
        transactionId:
          type: string
          example: "f455d2f9-18f1-4c6e-bfd0-df5ff2449f97"
        abhaAddress:
          type: string
          example: abcd1234@abdm

    
    PatientReq:
      type: object
      properties:
        patient:
          type: object
          required:
            - prefix
            - firstName
            - gender
            - dob
            - district
            - state
            - mobile
          properties:
            prefix:
              enum : [Mr, Mrs, Ms, Dr, NA, Master, Er]
              type: string
              example: Mr
            firstName:
              type: string
              example: Umesh
            middleName:
              type: string
              example: ''
            lastName:
              type: string
              example: Bilagi
            gender:
              type: string
              enum : [Male, Female, other, unknown ]
              example: Male
            dob:
              type: string
              example: '1989-04-26T00:00:00.000Z'
            district:
              type: string
              example: Dharwad
            state:
              type: string
              example: KARNATAKA
            mobile:
              type: string
              example: '9233235620'
            address:
              type: string
              example: Hno11 , near pulley school
            panNumber:
              type: string
              example : APYVB3402Q
            aadharNumber:
              type: string
              example : 514782451234
            email:
              type: string
              example: rameshH007@gmail.com
            alternatePhoneNumber:
              type: string
              example : 0836223456
    
    PatientRes:
      type: object
      properties:
        patient:
          type: object
          properties:
            id:
              description : This is nothing but patientId
              type: integer
              format: int32
              example: 231
            prefix:
              enum : [Mr, Mrs, Ms, Dr, NA, Master, Er]
              type: string
              example: Mr
            firstName:
              type: string
              example: Umesh
            middleName:
              type: string
              example: ''
            lastName:
              type: string
              example: Bilagi
            gender:
              type: string
              enum : [Male, Female, other, unknown ]
              example: Male
            dob:
              type: string
              example: '1989-04-26T00:00:00.000Z'
            orgId:
              type: integer
              format: int32
              example: '1'
            gcpFhirId:
              type: string
              example: b6165fd2-b76a-48e3-81ad-202b3919d668
            abhaAddress:
              type: string
              example: ''
            abhaNumber:
              type: string
              example: ''
            district:
              type: string
              example: Dharwad
            state:
              type: string
              example: KARNATAKA
            mobile:
              type: string
              example: '9233235620'
            address:
              type: string
              example: Hno11 , near pulley school
            panNumber:
              type: string
              example : APYVB3402Q
            aadharNumber:
              type: string
              example : 514782451234
            email:
              type: string
              example: rameshH007@gmail.com
            alternatePhoneNumber:
              type: string
              example : 0836223456
    
    
    
    OpdPatientReq:
      type: object
      required:
        - doctorDetails
        - date
      properties:
        doctorDetails:
          $ref : "#/components/schemas/doctorDetails"            
        date:
          type: string
          example: '2023-05-08T19:21:23.918Z'
        abhaAddress:
          type: string
          example: savitribilagi@sbx
        patientId:
          type: integer
          example: 236
        
    
    AdmitPatientReq:
      type: object
      required:
        - doctorDetails
        - doa
      properties:
        doctorDetails:
          $ref : "#/components/schemas/doctorDetails" 
        doa: 
          type: string
          example: 2023-05-10T19:21:23.918Z
        abhaAddress:
          $ref : "#/components/schemas/abhaAddress"
        patientId:  
          $ref : "#/components/schemas/patientId"  
    
    DischargePatientReq:
      type: object
      required:
        - encounterId
        - dod
      properties:
        doctorDetails:
          $ref : "#/components/schemas/doctorDetails" 
        dod:
          type: string
        abhaAddress:
          $ref : "#/components/schemas/abhaAddress"
        patientId:  
          $ref : "#/components/schemas/patientId"  
        encounterId:
          type: string
          example: 21ba04cd-d922-4412-bfdc-c0293e638f1d


      
    DischargeSummarytReq:
      type : object
      required:
       - doctorDetails
       - text
       - status
       - date
      properties: 
        abhaAddress:
          $ref : "#/components/schemas/abhaAddress"
        patientId:  
          $ref : "#/components/schemas/patientId"  
        text: 
          type: string
          example: <div>Cough with APD</div><div>cough</div><div>BP 140/80 PR 87/min RR 20/min</div>
        doctorDetails:
          $ref : "#/components/schemas/doctorDetails" 
        status: 
          type: "string"
          example: final or draft
        date: 
          type: string
          example: 2023-05-08T19:21:23.918Z
          
          
    DiagnosticReportReq:
      type : object
      required:
       - performer
       - text
       - status
       - date
      properties:
        abhaAddress:
          $ref : "#/components/schemas/abhaAddress"
        patientId:  
          $ref : "#/components/schemas/patientId"  
        text: 
          type: string
          example: <div>Ultrasoud Report This is in text format and for CBC like reports send HTML  table</div>
        performer:
          allOf:
            - $ref : "#/components/schemas/doctorDetails"  
            - description : The term "performer" refers to the individual who signs the report
                        
        requester: 
          allOf:
            - description : This is an optional field. If not provided, the requester will be assumed to be the patient themselves
            - $ref : "#/components/schemas/doctorDetails"                
        status: 
          type: "string"
          example: final or draft
        date: 
          type: string
          example: 2023-05-08T19:21:23.918Z  
        conclusion:
          type: string
          example: "Normal Study"
        category:
          enum : [Hematlogy, Biochemestry, Microbiology, Radiology , Others]
          type : string
          example : Radiology
          

    
    EncounterRes:
      type : object
      properties:
        encounter: 
          type: object
          properties: 
            class: 
              type: object
              properties: 
                code: 
                  type: string
                  example: AMB
                display: 
                  type: string
                  example: ambulatory
                system: 
                  type: string
                  example: http://terminology.hl7.org/CodeSystem/v3-ActCode
            id: 
              type: string
              example: 65cb5b6a-f08e-4e46-a826-67e117573d71
            meta: 
              type: object
              properties: 
                lastUpdated: 
                  type: string
                  example: 2023-05-11T10:04:31.675645+00:00
                profile: 
                  type: array
                  items: 
                    type: string
                    example: https://nrces.in/ndhm/fhir/r4/StructureDefinition/Encounter
                versionId: 
                  type: string
                  example: MTY4Mzc5OTQ3MTY3NTY0NTAwMA
            participant: 
              type: array
              items: 
                type: object
                properties: 
                  individual: 
                    type: object
                    properties: 
                      reference: 
                        type: string
                        example: Practitioner/cf4a6ab1-3f32-4b92-adc5-89489da6ca14
                      type: 
                        type: string
                        example: Practitioner
                  type: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        coding: 
                          type: array
                          items: 
                            type: object
                            properties: 
                              code: 
                                type: string
                                example: ATND
                              display: 
                                type: string
                                example: attender
                              system: 
                                type: string
                                example: http://terminology.hl7.org/CodeSystem/v3-ParticipationType
                        text: 
                          type: string
                          example: Dr Umesh Bilagi
            period: 
              type: object
              required:
               - start
              properties: 
                start: 
                  type: string
                  example: 2023-05-08T19:21:23.918Z
                end: 
                  type: string
                  example: 2023-05-08T29:21:23.918Z  
                  
            resourceType: 
              type: string
              example: Encounter
            status: 
              type: string
              example: in-progress
            subject: 
              type: object
              properties: 
                reference: 
                  type: string
                  example: Patient/9b4ec056-991d-4237-b1fd-a65770349610
            text: 
              type: object
              properties: 
                div: 
                  type: string
                  example: <div xmlns=http://www.w3.org/1999/xhtml>OPD Visit   Tue 9 May 2023 </div>
                status: 
                  type: string
                  example: generated
    
              
    CompositionRes:
      type : object
      properties: 
        composition: 
          type: object
          properties: 
            author: 
              type: array
              items: 
                type: object
                properties: 
                  display: 
                    type: string
                    example: Dr Umesh Bilagi
                  reference: 
                    type: string
                    example: Practitioner/cf4a6ab1-3f32-4b92-adc5-89489da6ca14
            custodian: 
              type: object
              properties: 
                reference: 
                  type: string
                  example: Organization/fd6464c1-a8ef-4e95-aa2a-d5eac433b85d
            date: 
              type: string
              example: 2023-05-08T19:21:23.918Z
            encounter: 
              type: object
              properties: 
                reference: 
                  type: string
                  example: Encounter/8e909449-f3f0-427c-bd45-4f8e5564e251
            id: 
              type: string
              example: e721069a-cc8c-4e5e-a437-b4cfcaee11a4
            identifier: 
              type: object
              properties: 
                system: 
                  type: string
                  example: https://ndhm.in/phr
                value: 
                  type: string
                  example: 2390bb7b-9e23-4732-a081-12b469657d87
            language: 
              type: string
              example: en-IN
            meta: 
              type: object
              properties: 
                lastUpdated: 
                  type: string
                  example: 2023-05-11T10:06:53.692605+00:00
                profile: 
                  type: array
                  items: 
                    type: string
                    example: https://nrces.in/ndhm/fhir/r4/StructureDefinition/DischargeSummaryRecord
                versionId: 
                  type: string
                  example: MTY4Mzc5OTYxMzY5MjYwNTAwMA
            resourceType: 
              type: string
              example: Composition
            section: 
              type: array
              items: 
                type: object
                properties: 
                  code: 
                    type: object
                    properties: 
                      coding: 
                        type: array
                        items: 
                          type: object
                          properties: 
                            code: 
                              type: string
                              example: 422843007
                            display: 
                              type: string
                              example: Chief Complaint Section
                            system: 
                              type: string
                              example: https://projecteka.in/sct
                  entry: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        reference: 
                          type: string
                          example: Condition/74590d44-8674-4147-8b14-e6fd2cb708dd
                  title: 
                    type: string
                    example: Presenting Problems
            status: 
              type: string
              example: final
            subject: 
              type: object
              properties: 
                reference: 
                  type: string
                  example: Patient/9b4ec056-991d-4237-b1fd-a65770349610
            text: 
              type: object
              properties: 
                div: 
                  type: string
                  example: <div>....</div>
                status: 
                  type: string
                  example: generated
            title: 
              type: string
              example: DischargeSummary
            type: 
              type: object
              properties: 
                coding: 
                  type: array
                  items: 
                    type: object
                    properties: 
                      code: 
                        type: string
                        example: 373942005
                      display: 
                        type: string
                        example: Discharge summary
                      system: 
                        type: string
                        example: https://ndhm.gov.in/sct
                text: 
                  type: string
                  example: Discharge summary
      
      
                    
                    